body{
background-color: rgb(123, 123, 241);
}
img{width: 700px}
header {
    /* cor de fundo */
    background-color: rgb(111, 194, 194);
    /* cor do texto */
    color: #050505;
    /* alinhamento do texto */
    text-align: center;
    /* preenchimento */
    padding: 15px;
}

.imagem {
    display: flex;

}

footer {
    /* cor de fundo */
    background-color: rgb(111, 194, 194);
    /* cor do texto */
    color: #050505;
    /* alinhamento do texto */
    text-align: center;
    /* preenchimento */
    padding: 15px;
}

a:hover {
    /* Alterar a cor do texto quando o mouse estiver sobre o link */
    color: #009688;
}
a {
    transition: color 0.3s ease;
    }
    
    nav {
    text-align: center;
    margin: 0;
    }
    
    nav ul {
    list-style: none;
    padding: 0;
    }
    
    nav li {
    display: inline;
    margin-right: 20px;
    }
    
    nav a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    }
    
    nav a:hover {
    color: darkgreen;
    }
    
    .sobre-titulo {
    font-size: 40px;
    color: aliceblue;
    margin-bottom: 20px;
    }
    
    .sobre-texto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 2.0;
    margin-top: 10px;
    }
    
    .sobre-lista {
    list-style:circle;
    padding-left: 0;
    margin-top: 15px;
    }


.sobre-titulo{
    font-size: 32px;
    color: darkviolet;
    margin-bottom: 50px;
}

.sobre-texto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font font-size: 20px;
    line-height: 2,0;
    margin-top: 10px;
}
.sobre-lista{
    list-style: circle;
    padding-left: 0;
    margin-left: 15px;
}